
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark top-row">
    <div class="container">
        <BlazorPlaceholder Name="navbar-header">

        </BlazorPlaceholder>
        <BlazorPlaceholder Name="navbar-menu">

        </BlazorPlaceholder>

        <BlazorPlaceholder Name="navbar-activity">

        </BlazorPlaceholder>
    </div>

</nav>
