<div>
    <div class="row">
        <div class="col-md-6">
            <BlazorPlaceholder Name="col-wide-1">

            </BlazorPlaceholder>
        </div>
        <div class="col-md-6">
            <BlazorPlaceholder Name="col-wide-2">

            </BlazorPlaceholder>
        </div>
    </div>
</div>