@using Foundation.BlazorExtensions.Services

@inject LayoutService layoutService


@page "/{Language}/{ErrorPage}"


@if (DynamicComponents == null)
{
  <p><em>Loading...</em></p>
}
else
{
  @foreach (var component in DynamicComponents)
  {
    @component
  }
}



@functions {

    [Parameter]
    protected string Language { get; set; }


    [Parameter]
    protected string ErrorPage { get; set; }

    public IList<Microsoft.AspNetCore.Blazor.RenderFragment> DynamicComponents { get; set; }


    protected override async Task OnInitAsync()
    {
      DynamicComponents = await layoutService.RenderPlaceholders("main");
    }

}




