@using Foundation.BlazorExtensions.Services

@inject LayoutService layoutService



@*@page "/teasers"*@


@if (DynamicComponents == null)
{
  <p><em>Loading...</em></p>
}
else
{
  @foreach (var component in DynamicComponents)
  {
    @component
  }
}

@functions {



public IList<Microsoft.AspNetCore.Blazor.RenderFragment> DynamicComponents { get; set; }


protected override async Task OnInitAsync()
{
  DynamicComponents = await layoutService.RenderPlaceholders("main");
}

}




