@using Foundation.BlazorExtensions.Extensions
@using Foundation.BlazorExtensions.Components
@using Microsoft.AspNetCore.Components.Web

@inherits BaseComponent

<div class="card">
    <div class="card-body">
        <h5 class="card-title">@FieldsModel.RenderLinkField("CardHeaderLink",null)</h5>  
        <h6 class="card-subtitle mb-2 text-muted"></h6>
        @FieldsModel.RenderHtmlField("CardText", "p", new Dictionary<string, object>()
                             {
                                 {"class", "card-text"}
                             } )
    </div>
</div>




@code{






}
