@using Foundation.BlazorExtensions.Components
@using Microsoft.AspNetCore.Components

@inherits BaseComponent

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark top-row">
    <div class="container">
        <BlazorPlaceholder Name="navbar-header">
            @ChildContent
        </BlazorPlaceholder>
        <BlazorPlaceholder Name="navbar-menu">
            @ChildContent
        </BlazorPlaceholder>
    </div>

</nav>

@code  {

    [Parameter]
    public  RenderFragment ChildContent { get; set; }
   

}
