
@using System.Net.Http
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Layouts
@using Microsoft.AspNetCore.Components.Routing
@using Foundation.BlazorExtensions.Extensions
@using Foundation.BlazorExtensions.Services

@using Foundation.BlazorExtensions.Components
@using Microsoft.JSInterop

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark top-row">
    <div class="container">
        <BlazorPlaceholder Name="navbar-header">
            @ChildContent
        </BlazorPlaceholder>
        <BlazorPlaceholder Name="navbar-menu">
            @ChildContent
        </BlazorPlaceholder>

        <BlazorPlaceholder Name="navbar-activity">
            @ChildContent
        </BlazorPlaceholder>
    </div>

</nav>

@functions  {

    [Parameter]
    protected RenderFragment ChildContent { get; set; }

}
