@using Foundation.BlazorExtensions.Components
@using Microsoft.AspNetCore.Components

@inherits BaseComponent

<div>
    <div class="row">
        <div class="col-md-12">
            <BlazorPlaceholder Name="col-huge">
                @ChildContent
            </BlazorPlaceholder>
        </div>
    </div>
</div>


@code  {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

}


