

@using Foundation.BlazorExtensions.Components


@implements Microsoft.AspNetCore.Components.IComponent

<div>
    <div class="row">
        <div class="col-md-12">
            <BlazorPlaceholder Name="col-huge">
                @ChildContent
            </BlazorPlaceholder>
        </div>
    </div>
</div>


@code  {

    [Parameter]
    protected RenderFragment ChildContent { get; set; }

    [Parameter]
    List<SitecoreBlazorHosted.Shared.Models.IBlazorSitecoreField> FieldsModel { get; set; }


}


