@using Foundation.BlazorExtensions.Components
@using Microsoft.AspNetCore.Components

@inherits BaseComponent

    <div class="row mt-3 mb-3">
        <div class="col-md-6">
            <BlazorPlaceholder Name="col-wide-1">
                @ChildContent
            </BlazorPlaceholder>
        </div>
        <div class="col-md-6">
            <BlazorPlaceholder Name="col-wide-2">
                @ChildContent
            </BlazorPlaceholder>
        </div>
    </div>


@code  {

    [Parameter]
    public RenderFragment ChildContent { get; set; }
   
}

