@import "../../../Foundation/BlazorCssVendors/Sass/Vendors/bootstrap/scss/bootstrap.scss";

@import "../../../Feature/PageContent/Sass/Index.scss";
@import "../../../Feature/navigation/Sass/Index.scss";
@import "../../../Feature/Identity/Sass/Index.scss";
@import "../../../Feature/Teasers/Sass/Index.scss";

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.bottom-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
    align-content: center;
    float: right;
}

.main {
    flex: 1;

    .top-row {
        background-color: #e6e6e6;
        border-bottom: 1px solid #d6d5d5;
    }
}


.content {
    padding-top: 1.1rem;
    min-height: 80% !important;
    height: auto;
}




#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}


@media (max-width: 767.98px) {
    .main .top-row {
        height: initial;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main {
        .top-row {
            position: sticky;
            top: 0;
        }

        > div {
            padding-left: 2rem !important;
            padding-right: 1.5rem !important;
        }
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        display: block;
    }
}
