@using Foundation.BlazorExtensions.Extensions

@implements Microsoft.AspNetCore.Components.IComponent

<a href="@FieldsModel.Link("AboutLink").Value.Href" target="@FieldsModel.Link("AboutLink").Value.Target" class="@FieldsModel.Link("AboutLink").Value.Class">
    @FieldsModel.Link("AboutLink").Value.Text
</a>



@code{

    [Parameter]
    List<SitecoreBlazorHosted.Shared.Models.IBlazorSitecoreField> FieldsModel { get; set; }




}
