@using System.Collections.Generic
@using System.Threading.Tasks
@using SitecoreBlazorHosted.Shared.Models.Navigation
@using Foundation.BlazorExtensions.Extensions
@using Foundation.BlazorExtensions.Components
@using Microsoft.AspNetCore.Components

@inherits BaseComponent


@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
@inject Feature.Navigation.Repositories.NavigationRepository NavigationRepository;


@if (NavigationItems == null)
{
    <em>Loading...</em>
}
else
{


    <ol class="breadcrumb">
        @foreach (var item in NavigationItems)
        {

            var title = item.Item.Fields.PlainText("NavigationTitle").Value.HtmlDecode();


            <li class="@GetClassName(item)">


                @if (string.IsNullOrWhiteSpace(item.Url))
                {
                    <a>@title</a>
                }
                else
                {
                    <a href="@item.Url.AddBaseUrl(NavigationManager)">@title</a>
                }
            </li>
        }
    </ol>
}

@code{

    [Parameter]
    public List<NavigationItem> NavigationItems { get; set; }

    string GetClassName(NavigationItem item)
    {
        string relative = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);

        return item.Url.Equals("/" + relative) ? "active" : string.Empty;

    }


    protected override async Task OnParametersSetAsync()
    {
        NavigationItems = await NavigationRepository.GetBreadcrumb();
    }

}