@using Foundation.BlazorExtensions.Components
@using Foundation.BlazorExtensions.Extensions
@using Microsoft.AspNetCore.Components

@inherits BaseComponent


<div class="jumbotron banner" style="background-image: url('@FieldsModel.Image("HeroImage").Value.Src');">
    
</div>




