@using Foundation.BlazorExtensions.Services

@inherits BlazorLayoutComponent
@*@implements IDisposable*@


@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper uriHelper;

@inject LayoutService layoutService;




<div class="main">

    <BlazorPlaceholder Name="navbar">
        @Body
    </BlazorPlaceholder>

    <main role="main" class="container">
        <BlazorPlaceholder Name="main">
            @Body
        </BlazorPlaceholder>
    </main>


    <footer class="container">

        <BlazorPlaceholder Name="footer" >
            @Body
        </BlazorPlaceholder>

    </footer>
</div>


@functions
{

    [Parameter]
    protected string Language { get; set; }

    protected override void OnInit()
    {
        uriHelper.OnLocationChanged += OnLocationChanges;
        Reload();
    }

    private void OnLocationChanges(object sender, string location) => Reload();

    private async void Reload()
    {
        await layoutService.LoadRoute(Language);
        StateHasChanged();
    }

    public void Dispose()
    {
        uriHelper.OnLocationChanged -= OnLocationChanges;
    }

}
