@using Foundation.BlazorExtensions.Extensions
@using Foundation.BlazorExtensions.Components
@using Microsoft.AspNetCore.Components

@inherits BaseComponent

<header class="page-header">
    <h1>
        @FieldsModel.PlainText("PageHeaderTitle").Value.HtmlDecode()
    </h1>
</header>

<BlazorPlaceholder Name="main-body">
    @ChildContent
</BlazorPlaceholder>


@code{

    [Parameter]
    public RenderFragment ChildContent { get; set; }

}
