@using Foundation.BlazorExtensions.Extensions
@using Foundation.BlazorExtensions.Components

@implements Microsoft.AspNetCore.Components.IComponent

<header class="page-header">
    <h1>
        @FieldsModel.PlainText("PageHeaderTitle").Value.HtmlDecode()
    </h1>
</header>

<BlazorPlaceholder Name="main-body">
    @ChildContent
</BlazorPlaceholder>


@code{

    [Parameter]
    List<SitecoreBlazorHosted.Shared.Models.IBlazorSitecoreField> FieldsModel { get; set; }

    [Parameter]
    protected RenderFragment ChildContent { get; set; }


}
