
@using Foundation.BlazorExtensions.Services;
@implements Microsoft.AspNetCore.Components.IComponent

@inject LayoutService layoutService

@if (RenderChild)
{
    @ChildContent
}
else
{

    if (DynamicComponents == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        foreach (var component in DynamicComponents)
        {
            @component
        }
    }
}










@code{

    [Parameter]
    protected string Name { get; set; }

    [Parameter]
    protected bool RenderChild { get; set; }

    [Parameter]
    protected Microsoft.AspNetCore.Components.RenderFragment ChildContent { get; set; }


    private IList<Microsoft.AspNetCore.Components.RenderFragment> DynamicComponents { get; set; }


    protected override async Task OnParametersSetAsync()
    {
        DynamicComponents = await layoutService.RenderPlaceholders(Name);
    }
}


