
@using System.Collections.Generic
@using System.Threading.Tasks
@using Foundation.BlazorExtensions.Services;
@using Microsoft.AspNetCore.Components

@implements Microsoft.AspNetCore.Components.IComponent

@inject LayoutService LayoutService

@if (RenderChild)
{
    @ChildContent
}
else
{

    if (DynamicComponents == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        foreach (var component in DynamicComponents)
        {
            @component
        }
    }
}










@code{

    [Parameter]
    public string? Name { get; set; }

    [Parameter]
    public bool RenderChild { get; set; }

    [Parameter]
    public Microsoft.AspNetCore.Components.RenderFragment? ChildContent { get; set; }


    private IList<Microsoft.AspNetCore.Components.RenderFragment>? DynamicComponents { get; set; }


    protected override async Task OnParametersSetAsync()
    {
        DynamicComponents = await LayoutService.RenderPlaceholders(Name);
    }
}


