@using Microsoft.AspNetCore.Blazor.Components
@using Foundation.BlazorExtensions.Extensions
@using Foundation.BlazorExtensions.Services

@inject InteropService interopService

<div id="CenterColumn">
  <div id="InnerCenter">
    <div id="Header">
      <img alt="@FieldsModel.Image("HeaderImage").Value.Alt" id="scLogo" src="@FieldsModel.Image("HeaderImage").Value.Src">
    </div>
    <div id="Content">
        <div id="LeftContent">
            <h1>@((MarkupString)FieldsModel.PlainText("Title").Value.HtmlDecode())</h1>
            <div class="contentDescription">
                @((MarkupString)FieldsModel.HtmlText("Text").Value.HtmlDecode())
            </div>
        </div>
    </div>

  </div>
</div>


@functions {

    [Parameter]
    List<SitecoreBlazorHosted.Shared.Models.IBlazorSitecoreField> FieldsModel { get; set; }

}
