@using Foundation.BlazorExtensions.Extensions
@using Foundation.BlazorExtensions.Components

@inherits BaseComponent



@inject Foundation.BlazorExtensions.BlazorStateMachine _blazorStateMachine
@inject IUriHelper _uriHelper


<a class="navbar-brand" href="@CurrentLanguage.AddBaseUrl(_uriHelper)">@FieldsModel.PlainText("NavHeader").Value.HtmlDecode()</a>


@code{

    private string CurrentLanguage { get; set; }

    protected override void OnParametersSet()
    {
        CurrentLanguage = _blazorStateMachine.Language;
    }



}
