@using Foundation.BlazorExtensions.Extensions
@using Foundation.BlazorExtensions.Components

@inherits BaseComponent



@inject Foundation.BlazorExtensions.BlazorStateMachine _blazorStateMachine
@inject NavigationManager _navigationManager


<a class="navbar-brand" href="@_blazorStateMachine.Language.AddBaseUrl(_navigationManager)">@FieldsModel.PlainText("NavHeader").Value.HtmlDecode()</a>
