@using Foundation.BlazorExtensions.Extensions
@using Foundation.BlazorExtensions.Components
@using Microsoft.AspNetCore.Components

@inherits BaseComponent



@inject Foundation.BlazorExtensions.BlazorStateMachine _blazorStateMachine
@inject NavigationManager NavigationManager


<a class="navbar-brand" href="@_blazorStateMachine.Language.AddBaseUrl(NavigationManager)">@FieldsModel.PlainText("NavHeader").Value.HtmlDecode()</a>
