@using Foundation.BlazorExtensions.Extensions
@using Foundation.BlazorExtensions.Services

@using Microsoft.JSInterop

@implements Microsoft.AspNetCore.Components.IComponent
@implements IDisposable

@inject LayoutService _layoutService;
@inject SitecoreBlazorHosted.Shared.PoorManSessionState _poorManSessionState
@inject IUriHelper _uriHelper


<a class="navbar-brand" href="@CurrentLanguage.WithBaseUrl_UglyHackForGithub(_uriHelper)">@FieldsModel.PlainText("NavHeader").Value.HtmlDecode()</a>


@functions {

    [Parameter]
    List<SitecoreBlazorHosted.Shared.Models.IBlazorSitecoreField> FieldsModel { get; set; }

    private string CurrentLanguage { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        CurrentLanguage = _poorManSessionState.Language;
    }

    protected override void OnInit()
    {
        _layoutService.LanguageSwitch += LanguageSwitchHasHappened;
    }

    private void LanguageSwitchHasHappened(object sender, EventArgs e)
    {

        CurrentLanguage = _poorManSessionState.Language;

        StateHasChanged();
    }

    public void Dispose()
    {
        _layoutService.LanguageSwitch -= LanguageSwitchHasHappened;
    }

}
