@using Foundation.BlazorExtensions.Extensions
@using Foundation.BlazorExtensions.Services
@using Microsoft.JSInterop

@inject Foundation.BlazorExtensions.BlazorContext _blazorContext;
@inject Microsoft.AspNetCore.Components.Services.IUriHelper _uriHelper
@inject IJSRuntime _jsRuntimeCurrent;

@if (string.IsNullOrWhiteSpace(CurrentLanguage))
{
    <em>Loading...</em>
}
else
{
    <a class="navbar-brand" href="@CurrentLanguage.WithBaseUrl_UglyHackForGithub(_uriHelper)">@FieldsModel.PlainText("NavHeader").Value.HtmlDecode()</a>
}

@functions {

    [Parameter]
    List<SitecoreBlazorHosted.Shared.Models.IBlazorSitecoreField> FieldsModel { get; set; }

    private string CurrentLanguage { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        CurrentLanguage = await _blazorContext.GetContextLanguageAsync(_jsRuntimeCurrent);
    }


}
